@import "vanilla-framework";
// @include vf-base;

@include vf-b-reset;
@include vf-b-placeholders; // mandatory include
//@include vf-b-themes;

//END:@include vf-b-themes;
@include vf-base-background;
@include vf-b-typography;
@include vf-b-blockquotes;
@include vf-b-box-sizing;
@include vf-b-button;
@include vf-b-code;
@include vf-b-details;
@include vf-b-forms;
@include vf-b-hr;
@include vf-b-links;
@include vf-b-lists;
@include vf-b-media;
@include vf-b-tables;
@include vf-b-grid-definitions;
@include vf-b-syntax-highlighting;

@include vf-p-navigation;
.p-navigation__tagged-logo .e-navigation__logo-tag{
    @extend .p-navigation__logo-tag;
    background-color: $color-brand;
}

@include vf-l-site;
@include vf-p-inline-list;

@include vf-p-icon-facebook;
@include vf-p-icon-github;
@include vf-p-icon-instagram;
@include vf-p-icon-linkedin;
@include vf-p-icon-twitter;
@include vf-p-icon-youtube;
@include vf-p-icon-rss;
@include vf-p-icon-email;