---
---
@import "{{ "assets/css/dark.css" | relative_url  }}" (prefers-color-scheme: dark);
@import "{{ "assets/css/normal.css" | relative_url  }}" not (prefers-color-scheme: dark);

$color-brand: #450900;
$color-accent: #109152;
$font-base-family: 'Helvetica';
$font-monospace: 'Helvetica';
@import "main";