---
---
{% raw %}
@import "/assets/css/dark.css" (prefers-color-scheme: dark);
@import "/assets/css/normal.css" not (prefers-color-scheme: dark);
{% endraw %}
$color-brand: #450900;
$color-accent: #109152;
$font-base-family: 'Helvetica';
$font-monospace: 'Helvetica';
@import "main";