---
---
@import "{{ site.theme }}";

.siteAction {
    display: block;
    float: right;
    width: 70px;
    height:70px;
    text-indent: -5000px;
    background-size: contain;
    background-repeat: space;
    overflow: hidden;
    margin-right: 10px;
}

#siteActions {
  position: absolute;
  z-index: 10;
  bottom: -40px;
  right: 0;
  height: 70px;
}

.inner {
    max-width: 980px !important;
}