backend:
  name: github
  repo: ErkanEREN/erkaneren
  auth_endpoint: auth
  branch: master # Branch to update (optional; defaults to master)
publish_mode: editorial_workflow
media_folder: assets/images/uploads
collections:
  - name: experiences
    label: experience
    folder: _experiences/
    create: false
    fields:
      - { label: 'Title', name: 'title', widget: 'string' }
      - { label: 'Publish Date', name: 'date', widget: 'datetime' }
      - { label: 'Body', name: 'body', widget: 'markdown' }
