backend:
  name: github
  repo: ErkanEREN/erkaneren
  branch: main # retconing naming conventions because master-slave flip-flops ceased to exist
publish_mode: editorial_workflow
media_folder: assets/images/uploads
collections:
  - name: experiences
    label: experience
    folder: _experiences
    create: true
    identifier_field: id
    fields:
      - { label: 'Title', name: 'title', widget: 'string' }
      - { label: 'Start Date', name: 'sdate', widget: 'datetime', date_format: "YYYY-MM", time_format: false }
      - { label: 'End Date', name: 'edate', widget: 'datetime', date_format: "YYYY-MM", time_format: false }
      - { label: 'Body', name: 'body', widget: 'markdown' }
      - { label: 'Order', name: 'id', widget: 'number' }
